html, body {
  height: 100%;
  margin: 0;
}

body {
  padding: 0px;
  border: 0px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  font-size: 18px;
  line-height: 150%;
  background: #efeee7;
  background-image: url("../images/background.png");
}

.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}

header {
  
  width:100%;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 100px;
  background-color: white;
  border-bottom: 10px solid rgb(1, 1, 31);
}

.nav {
  width: 990px;
  margin: 0 auto;
  position: relative;
  background-color: white;
}

.index,
.portfolio,
.contact {
  float: right;
  text-transform: uppercase;
}

.index {
  height: 22.px;
  padding-right: 5px;
  margin-top: 40px;
  border-right: lightblue 1px solid;
}

.portfolio {
  height: 22.px;
  padding: 0px 5px;
  margin-top: 40px;
  border-right: lightblue 1px solid;
}

.contact {
  height: 22.px;
  padding-left: 5px;
  margin-top: 40px;
}

.name {
  top: 0;
  margin: 0px;
  padding: 36.5px;
  float: left;
  color: whitesmoke;
  background-color: rgb(0, 0, 39);
}

.index a,
.portfolio a,
.contact a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.index a:hover,
.portfolio a:hover,
.contact a:hover {
  border-bottom: 1px solid black;
}

.index a:hover,
.portfolio a:hover,
.contact a:hover {
  color: black;
}

.active-nav-link a {
  color: black !important;
  border-bottom: 1px solid black;
}

#index {
  padding-right: 30px;
}

#about {
  padding-left: 30px;
  
}

hr { 
  display: block; 
  height: 2px;
  border: 0; 
  border-top: 5px solid #ccc;
  margin: 1em 0; 
  padding: 0; 
}

.content-area {
  margin: 0 auto;
  overflow: hidden;
  padding: 10px;
  width: 960px;
  background-color: whitesmoke;
}

img {
  float: left;
  margin-right: 20px;
  box-shadow: 5px -2px 10px grey;
}

.push {
  margin: 50px;
  height: 50px;
}

footer {
  background: #efeee7;
  height: 60px;
  padding: 10px;
  border-top: 10px solid rgb(1, 1, 31);
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
}

/* CSS code for portfolio.html */
/* .container Images with text */
.img-container {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  float: left;
  font-size: 30px;
  text-align: center;
  color: white;
}

/* Text on image */
.centered {
  position: absolute;  
  margin: 145px 0px;
  padding: 20px 0;
  width: 300px;
  background-color: rgb(1, 1, 31);
}

/* CSS for contact.html */

#name {
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

#email {
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

#message {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

/* Style the submit button with background color */
input[type=submit] {
  background-color: rgb(1, 1, 31);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: rgb(81, 81, 238);
  transition: 0.5s;
}

/* max width 980px */
@media screen and (max-width: 980px) {
  .wrapper {
    width: 100%;
  }

  .nav {
    width: 90%;
  }

  .content-area {
    position: relative;
    width: 70%;
    right: 85px;
  }
}

/* max width 768px */
@media screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
  }

  .nav {
    width: 95%;
  }

  .content-area {
    position: relative;
    width: 90%;
    right: 0px;
  }
}

/* Max width 640px */
@media screen and (max-width: 640px) {
  .wrapper {
    width: 100%;
  }

  header {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .nav {
    position: absolute;
    text-align: center;
    width: 100%;
  }

  .name {
    top:0;
    width: 100%;
  }

  .contact,
  .portfolio,
  .index {
    bottom: 0;
    display: inline;
    text-align: center;
  }



  .content-area {
    position: static;
    width: 90%;
    right: 0px;
  }
}